*{
    margin: 0;
    padding: 0;
    background-image: url("./imgs/wp2757874.gif");
    background-size: cover;
    font-family: 'Castoro', serif;
}

h1{
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 50px;
    color: skyblue;
}

.grid {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 828px;
    height: 513px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    box-shadow: 8px 8px 8px rgba(160, 147, 147, 0.671);
    background-image: url("./imgs/TVD.jpg");
    background-size: contain;
  }

